<h2>reactivos: <small>Dinámicos</small> </h2>
<hr>

<form   autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>

        <div class="col-sm-9">
            <input class="form-control" 
            placeholder="Ingrese el nombre" formControlName="nombre" >
            <span class="form-text text-danger" *ngIf="validar('nombre')">
             Ingrese un nombre valido
            </span>
        </div>
    </div>

<!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
       
         <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" [formControl]="nuevoFavorito" placeholder="Ingrese favorito" (keyup.enter)="agregarFavorito()" >
                <button type="button" class="btn btn-outline-primary" (click)="agregarFavorito()">Agregar</button>
            </div>
        </div>

    </div>


    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
         <div class="col-sm-9" formArrayName="favoritos">

                <div class="input-group  mb-1" *ngFor="let favorito of favoritosArr.controls; let i=index">
                    <input class="form-control" [formControlName]="i">  

                    <button 
                    type="button" 
                    class="btn btn-outline-danger"
                    (click)=" borrarFavorito(i)">Eliminar</button> 
                </div>

                
        
        </div>
    </div>


        <div class="col-sm-12">
            <button class="btn btn-primary float-end" type="submit" >Guardar</button>
        </div>
    
</form>

<br><br>
<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<br>

<span>Value</span>
<pre>{{miFormulario.value | json}}</pre>
<br>

<span>nuevoFavorito</span>
<pre>{{nuevoFavorito.valid}}</pre>